MONGO_URL=YOUR_MONGO_URL
SERVICE_NAME=auth-service
PORT=5001
NODE_ENV=development

GOOGLE_CLIENT_ID=YOUR_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_CLIENT_SECRET
SECRET_KEY=YOUR_SECRET_KEY
JWT_EXPIRE_TIME='24h'

BREVO_API_KEY=YOUR_API_KEY
BREVO_SENDER_EMAIL=YOUR_EMAIL

REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
REDIS_HOST=localhost

INTERNAL_SERVICE_SECRET=SECRET_KEY
FRONTEND_URL=YOUR_URL
MEDIA_SERVICE_URL=YOUR_URL
NOTIFICATION_SERVICE_URL=YOUR_URL